booleanValueTrue:{{booleanValueTrue}}
booleanValueFalse:{{booleanValueFalse}}
charValue:{{charValue}}
byteValue:{{byteValue}}
shortValue:{{shortValue}}
intValue:{{intValue}}
longValue:{{longValue}}
floatValue:{{floatValue}}
doubleValue:{{doubleValue}}
fileObject:{{fileObject}}
urlObject:{{urlObject}}
uriObject:{{uriObject}}
inetAddressObject:{{inetAddressObject}}
calendarObject:{{calendarObject}}
dateObject:{{dateObject}}
sqlTimestampObject:{{sqlTimestampObject}}
nullObject:{{nullObject}}
booleanArray:{{#booleanArray}}{{.}},{{/booleanArray}}
charArray:{{#charArray}}{{.}},{{/charArray}}
byteArray:{{#byteArray}}{{.}},{{/byteArray}}
shortArray:{{#shortArray}}{{.}},{{/shortArray}}
intArray:{{#intArray}}{{.}},{{/intArray}}
longArray:{{#longArray}}{{.}},{{/longArray}}
floatArray:{{#floatArray}}{{.}},{{/floatArray}}
doubleArray:{{#doubleArray}}{{.}},{{/doubleArray}}
listObject:(listObject中のarrayが展開されず、IDとなり実行のたびに変化してしまうためテストケースに組み込めず、省略)
mapObject:{{#mapObject}}
str:{{str}}
file:{{file}}
null:{{null}}
byte_array:{{#byte_array}}{{.}},{{/byte_array}}
char_array:{{#char_array}}{{.}},{{/char_array}}
int_array:{{#int_array}}{{.}},{{/int_array}}
list:(listObject中のarrayが展開されず、IDとなり実行のたびに変化してしまうためテストケースに組み込めず、省略)
{{/mapObject}}
日本語プロパティ:{{日本語プロパティ}}
enumObject:{{enumObject}}
enumArray:{{#enumArray}}{{.}},{{/enumArray}}
enumList:{{#enumList}}{{.}},{{/enumList}}
subScope:{{#subScope}}
original:{{original}}
uppercase:{{uppercase}}
{{/subScope}}
subScopes:{{#subScopes}}
original:{{original}}
uppercase:{{uppercase}}
{{/subScopes}}
